/*
 * Globals
 */

/* Links */
a, a:focus, a:hover {
	color: #fff;
}
/* Custom default button */
.btn-default, .btn-default:hover, .btn-default:focus {
	color: #fff;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: rgba(255, 255, 255,.2);
	border: 1px solid #333;
}
.btn-default:hover {
	background-color: rgba(255,255,255,.5);
}
/*
 * Base structure
 */
#home {
	background-image: url(../img/bg.jpeg);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg.jpeg);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65))), url(../img/bg.jpeg);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg.jpeg);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg.jpeg);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg.jpeg);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg.jpeg);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0 );
	background-size: cover;
	height: 100vh;
}
#projects {
	background-image: url(../img/bg2.jpeg);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg2.jpeg);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65))), url(../img/bg2.jpeg);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg2.jpeg);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg2.jpeg);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg2.jpeg);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg2.jpeg);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0 );
	background-size: cover;
	height: 100vh;
}
#contact {
	background-image: url(../img/bg3.jpeg);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg3.jpeg);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65))), url(../img/bg3.jpeg);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg3.jpeg);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg3.jpeg);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg3.jpeg);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../img/bg3.jpeg);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0 );
	background-size: cover;
	height: 100vh;
}
html, body {
	height: 100%;
	background-color: #fff;
}
body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}
/* Padding for spacing */
.inner {
	padding: 30px;
}
/*
 * Header
 */
#mainlogo {
	width: 50%;
	height: 50%;
}
.masthead-brand {
	margin-top: -20px;
	margin-bottom: 10px;
	margin-left: -200px;
}
.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > li > a:focus {
	background-color: transparent;
}
.masthead-nav > .active > a:hover {
	color: #fff;
	border-bottom-color: #fff;
}
.masthead-nav > li > .active {
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 768px) {
.masthead-brand {
	float: left;
}
.masthead-nav {
	float: right;
}
}
/*
 * Cover
 */

.cover {
	padding: 0 20px;
}
.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}
/*
 * Footer
 */

.mastfoot {
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */
 
@media (max-width: 768px) {
#mainlogo {
	height: 20%;
	width: 20%;
}

}

@media (min-width: 768px) {
/* Pull out the header and footer */
.masthead {
	position: fixed;
	top: 0;
}
.mastfoot {
	position: fixed;
	bottom: 0;
}
/* Start the vertical centering */
.site-wrapper-inner {
	vertical-align: middle;
}
/* Handle the widths */
.masthead, .mastfoot, .cover-container {
	width: 100%; /* Must be percentage or pixels for horizontal alignment */
}
}

@media (max-width: 992px) {
.masthead-brand {
	margin-left: 0;
}
}

@media (min-width: 992px) {
.masthead, .mastfoot, .cover-container {
	width: 700px;
}

}
/* Float Shadow */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
/*******Projects Page**********/
.heading{
	margin-top:-210px;
	
}
.colordiv{
	background-color:rgba(255,255,255,.7);
}
.projectrow{
	margin-top:100px;
}
@media (max-width: 992px){
	
	.heading{
	margin-top:-210px;
}
.colordiv{

}
	
}
@media (max-width: 768px){
	.heading{
	margin-top:80px;
}
}
