body { 
    padding-top: 65px; 
    font-family: 'Roboto', sans-serif;
}
/***************************NAVBAR EDIT*********************************/
.navbar-brand {
  float: none;
  }
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
  height:100%;

}
#navlogo{
    text-align: center;
}

@media (max-width: 768px) { 
#navlogo{
max-height: 50px;

}
.navbar-center{
text-align: left;
margin-left: 10px;

}

}
